<h1 class="text-center">Team Details</h1>
<p class="text-center lead">This is team <%= @team.TeamName %></p>
<div class="container text-center">
  <h6>Players on this team:</h6>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Player Name</th>
      <th>Player AndroidID</th>
    </tr>

    </thead>
    <tbody>
    <% @team.players.each do |p| %>
      <tr>
        <td>
          <%= p.name %>
        </td>
        <td>
          <%= p.AndroidID %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= link_to "New Player", new_player_path(team_id: @team.id) %>
  <%#= button_to('Delete', @team,
                method: "delete", remote: true,
                data: {confirm: "Are you sure that you wish to delete the event #{@team.name}?",
                       disable_with: 'loading...'}, class: "btn btn-danger") %>
</div>
